@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Sora', sans-serif;
    text-decoration:none;
    user-select:none;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --orange:#fe5902;
}

body{
    padding-top: 80px; /* Prevent content from hiding behind the fixed header */
    background:#000;
    color:#fff;
    background-image: url(301fda79208c59daa4b1882a2a6617fa.jpg);
    background-size: cover;
}


header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(10px);

    transition: transform 0.35s ease;
    z-index: 1000;

    background: rgba(0, 0, 0, 0.4); /* Must have transparency */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* Safari */
}

/* Hide navbar */
header.hide{
    transform: translate(-50%, -100%);
    transition: 1s ease;
}

.logo-link{
    display:flex;
    align-items:center;
}

.header-logo-area{
    display:flex;
    align-items:center;
    gap:12px;
}

.header-logo-area img{
    width:40px;
    height:40px;
    object-fit:contain;
}

.header-text{
    color:#fff;
    font-size:23px;
    font-weight:600;
}

.menu-bar{
    display:flex;
    gap:35px;
}

.menu-bar a{
    color:rgba(255,255,255,.8);
    transition:.3s;
    font-size: 15px;
    font-weight: 200;
}

.menu-bar a:hover{
    color:#fff;
}

.bc-button{
    padding:12px 20px;
    background:linear-gradient(orangered,rgb(141,38,0));
    color:#fff;
    border:1px solid #fff;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}

.bc-button:hover{
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(255,69,0,.100);
}

.menu-toggle{
    display:none;
    font-size:28px;
    color:white;
    cursor:pointer;
}

.mobile-btn{
    display: none;
}

.content-wrapper{
    width: 80%;
    margin: auto;
    padding-top: 60px;
}

.headline{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
}

.text-italic-bg{
    padding: 3px;
    background-color: #fe5902;
    border-radius: 10px;
    color: #000;
}

.supporting-text{
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.900);
    line-height: 30px;
}

@media (max-width:768px){

    header{
        justify-content:space-between;
        padding:0 20px;
    }

    .header-text{
        font-size:20px;
    }

    .desktop-btn{
        display:block;
    }

    .menu-toggle{
        display:block;
    }

    .menu-bar{
        position:absolute;
        top:80px;
        left:0;
        width:100%;

        display:flex;
        flex-direction:column;
        align-items:center;
        gap:25px;

        background:rgba(0,0,0,.95);
        backdrop-filter:blur(10px);

        padding:30px 0;

        transform:translateX(-150%);
        opacity:0;
        visibility:hidden;

        transition:.4s ease;
    }

    .menu-bar.active{
        transform:translateX(0);
        opacity:1;
        visibility:visible;
    }

    .menu-bar a{
        font-size:18px;
    }

    .desktop-btn{
        display: none;
    }

    .mobile-btn{
        display: block;
        margin-top: 10px;
    }

    .mobile-btn .bc-button{
        width: 100%;
    }

    .fa-bars-staggered , .fa-xmark{
        font-size: 20px;
    }
}